*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 120px;
    background-color: rgb(190, 186, 186);
    display: flex;
    flex-direction: row;
    line-height: 120px;
}
.header .logo{
    width:40%;
    height: inherit;
    padding-left: 300px;
}
.header .menu{
    width: 60%;
    height: inherit;
    padding-left: 100px;
}
.header .menu ul{
    width: 100%;
    height: inherit;
    list-style: none;
}
.header .menu ul li{
    float: left;
    width: 150px;
}
.header .menu ul li a{
    color: rgb(59, 59, 59);
    font-size: 18px;
    text-transform: uppercase;
}
.header .menu ul li:nth-of-type(1) a{
    color: crimson;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color: rgba(248, 248, 248,0.95);
    padding-left: 200px;
    position: relative;
}
.hero img{
    width: 1500px;
}
.hero .c-1{
    width: 160px;
    height: 160px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    right: 460px;
    bottom: 200px;
}
.hero .c-2{
    width: 160px;
    height: 160px;
    background-color: rgba(220, 20, 60,0.85);
    border-radius: 50%;
    padding-top: 50px;
    line-height: 25px;
    padding-left: 30px;
    text-indent: 10px;
    position: absolute;
    right: 450px;
    bottom: 210px;
}
.hero .c-2 a{
    color: aliceblue;
    font-size: 25px; 
}
.main{
    width: 100%;
    height: 400px;
    background-color: rgba(183, 194, 31, 0.897);
    display: flex;
    flex-direction: column;
}
.main .main-1{
    width: 100%;
    height: 65%;
    background-color: rgb(235, 231, 232);
    display: flex;
    flex-direction: row;
    position: relative;
}
.main .main-1 .main-right{
    width: 40%;
    height: inherit;
    position: absolute;
    left: 1100px;
}
.main .main-1 .main-left{
    width: 60%;
    height: inherit;
    position: absolute;
    left: 300px;
    top: 50px;
    line-height: 25px;
}
.main .main-1 .main-left h1{
    color: crimson;
}
.main .main-1 .main-left h3{
    color: rgb(71, 71, 71);
}
.main .main-1 .main-left p{
    color: rgb(80, 80, 80);
}
.main .main-2{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.main .main-2 .loc-1 , .loc-2 , .loc-3 , .loc-4{
    color: white;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 30px;
}